@use "./styles/typography";
@use "./styles/reset";
@use "./styles/card";
@use "./styles/card-container";
@use "./styles/horizontal-break";

@use "./styles/variables" as *;

.highlight {
  color: $color-primary;
}

.burger-menu {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.25rem;
}
