@use "./variables" as *;

.button {
  font-family: "Inter", sans-serif;
  border: solid 0.063rem $color-highlight;
  font-size: 1.125rem;
  background-color: transparent;
  padding: 1.75rem 5.75rem;
}
