@use "./mixins" as *;
@use "./variables" as *;

.card {
  .card__image {
    width: 100%;
  }

  .card__info {
    display: flex;
    justify-content: space-between;
    margin-top: 0.25rem;

    .card__title {
      font-size: 1.75rem;
      line-height: 2.8rem;
      font-weight: 400;
    }

    .card__links {
      @include flex-center;
      gap: 1rem;

      .card__icon {
        @include flex-center;
        border-radius: 100%;
        background-color: $color-neutral-2;
        padding: 0.75rem;
      }
    }
  }

  .card__skills {
    display: flex;
    gap: 0.5rem;

    .card__skill-icon {
      font-family: "Inter", serif;
      font-size: 0.813rem;
      background-color: $color-neutral-2;
      padding: 0.2rem 1rem;
    }
  }
}
