@use "./variables" as *;

.portfolio {
  .portfolio__card-container {
    margin: 3rem 0;
    display: grid;
    gap: 3.125rem;

    // only show the first 3 items on mobile
    > *:nth-child(n + 4) {
      display: none;
    }
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .portfolio {
    .portfolio__card-container {
      grid-template-columns: 1fr 1fr;
      column-gap: 1.25rem;

      > *:nth-child(n + 4) {
        display: unset;
      }
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .portfolio {
    .portfolio__card-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
