@use "./variables" as *;
@use "./mixins" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $color-text;
}

body {
  background-color: $color-neutral-1;
}

main {
  padding: 0 $padding-mobile;
  @include flex-center;
  flex-direction: column;
  overflow-x: hidden;

  > * {
    width: 100%;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  main {
    padding: 0 $padding-tablet;
  }
}

@media screen and (min-width: $large-desktop-breakpoint) {
  main {
    padding: 0 $padding-desktop;
  }
}
