// colors
$color-background: #2c2a2a;
$color-text: #ffffff;
$color-primary: #d9bea5;
$color-surface: #3c3636;
$color-surface-variant: #453f3f;
$color-background-variant: #5c5c5c;

// breakpoints
$large-mobile-breakpoint: 375px;
